body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: #f4f7f6;
    background-image: url('./d52fb331b6ccb40b228c2d3f2bf58c87.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Navbar Superior */
.navbar {
    height: 60px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

/* Panel Lateral (Vertical) */
.sidebar {
    position: fixed;
    left: -250px; /* Escondido por defecto */
    top: 60px;
    width: 250px;
    height: calc(100vh - 60px);
    background-color: #34495e;
    transition: 0.3s; /* Animación suave */
    z-index: 999;
}

.sidebar.active {
    left: 0; /* Se muestra al activar */
}

.sidebar-links a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar-links a:hover {
    background-color: #1abc9c;
}

/* Contenido Principal */
.content {
    margin-top: 80px;
    padding: 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 180px);
    text-align: center;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    color: #555;
}

/* Empujar contenido cuando el menú se abra (opcional) */
.content.shifted {
    margin-left: 250px;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1; /* Ajusta la opacidad según sea necesario */
    object-fit: cover;
}